/Library
/Temp
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Maison\ Monster.sln
/Maison\ Monster.userprefs
/Maison\ Monster-csharp.sln
/Maison-Monster.sln
/Maison-Monster.userprefs
/Maison-Monster-csharp.sln